In [ ]:
print("Hello World")

Hello World

In [ ]:
def square(x):
  print(x**2)

a= int(input("emter a no"))
square(a)

emter a no6
36

In [ ]:
# without argument and with return value
def square():
  x= int(input("Enter a number: "))
  return x**2

print(square())

Enter a number: 3
9

In [6]:
# postional -> variable positional ->keyword -> default-> variable keyword

def varFun(name,age,deptid,*hours,deptname="HR",**vacations):
  print("no of hours",sum(hours))
  print("no of vacations", sum(vacations.values()))
  print("Name:",name,"Age:", age,"dept:", deptid,"deptname",deptname)

varFun("shubham",28,101,9,8,may=2,june=3,july=4)

no of hours 17
no of vacations 9
Name: shubham Age: 28 dept: 101 deptname HR